html, body { height: 100%; }
.left {
  width: 300px;
  height: 100%;
  background-color: #2f3e51;
  display: inline-block;
  &__userinfo {
    height: 15%;
    background-color: #253141;
    padding: 0 20px;
    position: relative;
    &-name {
      color: $textwhite;
      font-size: 16px;
      font-weight: bold;
      padding-top: 40px;
      position: absolute;
    }
    &-icon {
      padding-top: 40px;
      display: inline-block;
      float: left;
      color: $textwhite;
      margin-left: 210px;
    }
  }

  &__groups {
    padding: 0 20px;
    &-name {
      font-size: 15px;
      color: $textwhite;
      padding-top: 20px;
    }
    &-message {
      font-size: 11px;
      color: $textwhite;
      padding-top: 5px;
      padding-bottom: 20px;
    }
  }
}
