html,body { height:100%; }
.right {
  background-color: #AAAAAA;
  height: 100%;
  width: calc(100vx - 300px);
  &__group {
    padding-left: 340px;
    background-color: white;
    height: 15%;
    border-bottom-color: #eeeeee ;
    border-bottom: solid ;
    &-name {
      padding-top: 35px;
      padding-bottom : 15px;
      font-size: 20px;
      color: #333333;
    }
    &-member {
      font-size: 12px;
      color : #999999;
    }
  }
}
