html, body { height: 100%; }
.right {
  height: 100%;
  width: calc(100vw - 300px);
  float: right;
  overflow: hidden;
  &__group {
    padding: 0 40px;
    height: 15%;
    border: solid 1px #eeeeee;
    &-name {
      padding-top: 35px;
      font-size: 20px;
      color: #333333;
      display: inline-block;

    }
    &-edit {
      border: solid 1px $textmain;
      height: 40px;
      float: right;
      padding: 0 20px;
      margin-top: 28px;
      line-height: 40px;
    }
    &-member {
      font-size: 12px;
      color: $textgray;
      padding-top: 15px;
    }
  }

  &__message {
    padding: 0 40px;
    height: 518px;
    margin-top: 20px;
    overflow: scroll;
    &__messages{
      &-name {
         padding-top: 46px;
         padding-right: 10px;
         font-size: 16px;
         font-weight: bold;
         color: $textcolor;
      }
      &-time {
        font-size: 12px;
        color: $textgray;
        line-height: 10px;
      }
      &-message {
        padding-top: 10px;
        padding-bottom: 20px;
        color: $textcolor;
        max-height: 200px;
          &__body{
            font-size: 14px;
          }
          &__image{
            max-height: 200px;
            width: 300px;
          }
      }
    }
  }
  &__typemessage {
  height: 90px;
  background-color: #AAAAAA;
  position: relative;
  padding-left: 20px;
    &--main {
      padding-left: 20px;
      &-text {
        font-size: 16px;
        color: $textcolor;
        line-height: 70px;
        height: 46px;
        margin: 20px 0;
        width: 83%;
        padding-left: 10px;
      }
      &-icon {
        position: relative;
        right: 35px;

      }
    }
    &-send {
      height: 50px;
      width: 120px;
      background-color: $textmain;
      text-align: center;
      float: right;
      color: $textwhite;
      position: absolute;
      top: 20px;
      right: 40px;
    }
  }
}
