html,body { height:100%; }
.right {
  background-color: #AAAAAA;
  height: 100%;
  width: calc(100vx - 300px);
  &__group {
    padding-left: 340px;
    background-color: white;
    height: 15%;
    border: solid 0.5px #eeeeee;
    &-name {
      padding-top: 35px;
      padding-bottom : 15px;
      font-size: 20px;
      color: #333333;
    }
    &-member {
      font-size: 12px;
      color : #999999;
    }
  }
  &__message {
    padding-top: 20px;
    padding-left: 340px;
    height: 75%;
    margin-top: 26px;
    &-name {
       font-size: 16px;
       font-weight: bold;
       color: #434A54;
       line-height: 10px;
    }
    &-time {
      font-size: 12px;
      color: #999999;
      line-height: 10px;
    }
    &-message {
      padding-top: 10px;
       padding-bottom: 20px;
       font-size: 14px;
       color: #434A54;
    }
  }
  &__typetext {
  height: 10%;
  background-color:red;
  }
}
