
.left
  .left__userinfo
    %span.left__userinfo-name sample
  = render partial: 'messages/index'

.right
  .right__group
    %p.right__group-name sampleグループ
    %p.right__group-member samplename
  .right__message
  .right__typetext
