
.left
  .left__userinfo
    %span.left__userinfo-name sample
  = render partial: 'messages/group'

.right
  .right__group
    %p.right__group-name sampleグループ
    %div.right__group-edit edit
    %p.right__group-member sample:name
  .right__message
    = render partial: 'messages/message'
    = render partial: 'messages/message'
    = render partial: 'messages/message'
  .right__typemessage
    %p.right__typemessage-text type a message
    %div.right__typemessage-send Send
