
.left
  .left__userinfo
    %span.left__userinfo-name sample
  = render partial: 'messages/index'

.right
  .right__group
    %p.right__group-name sampleグループ
    %p.right__group-member samplename
  .right__message
    %span.right__message-name sample
    %span.right__message-time 2018/8/04 05:11:11
    %p.right__message-message message
  .right__typetext
